* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: darkgreen;
}
.preloader {
  align-items: center;
  background: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.loader {
  animation-name: Rotate;
  animation-duration: 5s;
  transition: ease-out;
}
@keyframes Rotate {
  50% {
    transform: rotate(-360deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0);
  }
}
.move {
  background-color: darkgreen;
  height: 1rem;
  width: 100%;
}
h5 {
  color: rgba(241, 237, 237, 0.959);
  margin-top: 1rem;
  animation-name: move;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
@keyframes move {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 100%;
  }
}
body {
  background-color: rgba(241, 237, 237, 0.959);
}
h2 {
  text-decoration: underline;
}
header {
  align-items: center;
  text-align: center;
}
form {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 1rem;
}
section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 1rem;
}
main {
  align-items: center;
  text-align: center;
}
.results {
  display: flex;
  justify-content: center;
  text-align: start;
  padding: 1rem;
}
p {
  padding: 1rem;
}

@media (max-width: 500px) {
  form {
    flex-direction: column;
  }
  section {
    padding: 0rem;
  }
  .results {
    flex-direction: column;
  }
}
